@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    color: var(--font-color-white);
    transition: all .2s ease;
}

:root {
    --bg-container: #0d1323;
    --bg-user-card-front: #5746ea;
    --bg-user-card-back: #1d204b;
    --bg-front: #1d204b;
    --bg-front-active: #34397b;
    --bg-back-1: #ff8b64;
    --bg-back-2: #56c2e6;
    --bg-back-3: #ff5e7d;
    --bg-back-4: #4bcf83;
    --bg-back-5: #7235d1;
    --bg-back-6: #f1c75b;
    --font-color-white:  #f6f8f9;
    --font-color-grey: #b7baf0;
}

.container {
    width: 100%;
    height: 100vh;
    background: var(--bg-container);
    display: grid;
    grid-template-columns: repeat(4, 130px);
    grid-auto-rows: 130px;
    gap: 1rem;
    place-content: center;
}

.user-card, .user-card-back, .user-card-front, .back, .front {
    border-radius: .5rem;
}

.user-card {
    grid-column: 1/2;
    grid-row: 1/3;
    background: var(--bg-user-card-back)
}

.user-card-front {
    width: 100%;
    height: 70%;
    background: var(--bg-user-card-front);
    display: flex;
    flex-flow: column wrap;
    padding: 1.1rem;
}

.img {
    background-image: url(/images/image-jeremy.png);
    background-position: center;
    background-size: cover;
    width: 45px;
    height: 45px;
    border: 1px solid white;
    border-radius: 50%;
    margin-bottom: 1.2rem;
}

h1 {
    font-size: 1.3rem;
    /* font-family: 'Montserrat', sans-serif; */
    font-weight: 300;
}

span {
    font-size: .5rem;
    color: var(--font-color-grey);
}

.user-card-back {
    width: 100%;
    height: 30%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    padding-left: 1.1rem;
}

.user-card-back p {
    font-size: .6rem;
    color: var(--font-color-grey);
    cursor: pointer;
    
}

.user-card-back p:hover {
    color: var(--font-color-white);
}

.back {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    justify-content: end;
    overflow: hidden;
}

.front {
    position: relative;
    height: 82%;
    background: var(--bg-front);
    z-index: 10;
    display: flex;
    flex-flow: column;
    padding: 1.1rem;
    cursor: pointer;
}

.front:hover {
    background: var(--bg-front-active);
}

.front h2 {
    font-size: .6rem;
    margin-top: -1px;
    margin-bottom: .8rem;
}

button {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-weight:400;
    color: var(--font-color-grey);
    cursor: pointer;
}

button:hover {
    color: var(--font-color-white);
}

.front h3 {
    /* font-family: 'Montserrat', sans-serif; */
    font-size: 1.7rem;
    font-weight: 300;
    margin-bottom: .2rem;
}

.front p {
    font-size: .5rem;
    color: var(--font-color-grey);
}

.back-1 {
    grid-column: 2/3;
    grid-row: 1/2;
    background: linear-gradient(180deg, var(--bg-back-1) 50%, var(--bg-front)50%, var(--bg-front) 100%);
}

.back-1 .icon {
    position: absolute;
    top: -5px;
    right: 8px;
    background-image: url(/images/icon-work.svg);
    background-position: center;
    background-size: cover;
    width: 38px;
    height: 38px;
}

.back-2 {
    grid-column: 3/4;
    grid-row: 1/2;
    background: linear-gradient(180deg, var(--bg-back-2) 50%, var(--bg-front)50%, var(--bg-front) 100%);
}

.back-2 .icon {
    position: absolute;
    top: -5px;
    right: 8px;
    background-image: url(/images/icon-play.svg);
    background-position: center;
    background-size: cover;
    width: 38px;
    height: 38px;
}

.back-3 {
    grid-column: 4/5;
    grid-row: 1/2;
    background: linear-gradient(180deg, var(--bg-back-3) 50%, var(--bg-front)50%, var(--bg-front) 100%);
}

.back-3 .icon {
    position: absolute;
    top: -5px;
    right: 8px;
    background-image: url(/images/icon-study.svg);
    background-position: center;
    background-size: cover;
    width: 38px;
    height: 38px;
}

.back-4 {
    grid-column: 2/3;
    grid-row: 2/3;
    background: linear-gradient(180deg, var(--bg-back-4) 50%, var(--bg-front)50%, var(--bg-front) 100%);
}

.back-4 .icon {
    position: absolute;
    top: -1px;
    right: 8px;
    background-image: url(/images/icon-exercise.svg);
    background-position: center;
    background-size: cover;
    width: 43px;
    height: 30px;
}

.back-5 {
    grid-column: 3/4;
    grid-row: 2/3;
    background: linear-gradient(180deg, var(--bg-back-5) 50%, var(--bg-front)50%, var(--bg-front) 100%);
}

.back-5 .icon {
    position: absolute;
    top: -2px;
    right: 8px;
    background-image: url(/images/icon-social.svg);
    background-position: center;
    background-size: cover;
    width: 35px;
    height: 35px;
}

.back-6 {
    grid-column: 4/5;
    grid-row: 2/3;
    background: var(--bg-back-6);
}

.back-6 .icon {
    position: absolute;
    top: -4px;
    right: 8px;
    background-image: url(/images/icon-self-care.svg);
    background-position: center;
    background-size: cover;
    width: 30px;
    height: 30px;
}